* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}

.calculator {
    position: relative;
    width: 300px;

}

.calculator .buttons {
    position: relative;
    display: grid;
}

.calculator .buttons #value {
    position: relative;
    height: 100px;
    width: calc(100%-16px);
    background-color: #a7af7c;
    grid-column: span 4;
    left: 8px;
    margin-bottom: 12px;
    line-height: 100px;
    padding: 0 20px;
    border-radius: 10px;
    text-align: right;
    font-size: 1.5em;
    color: #3a3c2e;
    overflow: hidden;
    user-select: none;

}

.calculator .buttons span {
    position: relative;
    padding: 10px;
    border: 2px solid white;
    margin: 6px;
    min-width: 40px;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    border: 2px solid#222;
    border-radius: 6px;
    background: linear-gradient(#555353, #363535);
    cursor: pointer;
    user-select: none;
    font-weight: 900;


}

.calculator .buttons span#plus {
    grid-row: span 2;
    background: green;
    color: #fff;

}

.calculator .buttons span#clear {
    grid-column: span 2;
    background: #f44336;
    color: #fff;

}

.calculator .buttons span#equal {
    grid-column: span 1;
    background: #ac4af7;
    color: #ffffff;

}