*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;

}
.sec{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: #0c2d4c;
    

}

.logo {
     width: 200px;
    margin-top: 10px;
}
header{
    position: absolute;
    /* border: 2px solid red; */
    top: 0%;
    width: 95%;
    padding: 20px 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
header ul{
    position: relative;
    display: flex;

}
header ul li{
    display: inline-block;
    color: aliceblue;
    font-weight: 400;
    margin-left:40px;

    text-decoration: none;
}
header ul li a {
    display: inline-block;
    color: #ffff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content{
    position: relative;
    width: 100%;
    /* border: 2px solid rgb(255, 255, 255); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textbox{
    position: relative;
     width: 600px;
    /* border: 2px solid rgb(255, 255, 255); */

}
.content .textbox h2{
    /* border: 2px solid white; */
    margin-top: 100px;
    color: white;
    font-size: 4rem;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;

}
.content .textbox span{
    font-size: 8rem;
}
.content .textbox p{
    color: #ffff;
}
.pepsi{
    margin-top: 200px;
    padding-right:100px;
}



.content .textbox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px ;
    background: #fff;
    color: #111;
    border-radius: 40px;
    font-weight: 500px;
    text-decoration: none;
    text-transform:uppercase;
}
.thum{
 position: absolute;
 left: 50%;
 bottom: 20%;
 display: flex;
 /* transform: translatey(-50%) */
 transform: translateX(-50%);
}
.thum li img{
    padding: 15px;
    max-width: 80px;
}
.thum li:hover{
    transform: translateY(-50px);
}
.thum li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}
.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50px);
    flex-direction: column;
    justify-content:center;
align-items: center;
}
.sci li{
    list-style: none;

}
.sci li img { 
    display: inline-block;
    margin-top: 5px;
    transform: scale(0.6);
    filter: invert(1);
}
